<div class="container">
 <div class="row">
    <div class="col-1"></div>
    <div class="col-10">
        <h2>Proyectos Realizados</h2>
    </div>
 </div>
 <div class="row">
    <div class="col-1"></div>
    <div class="col-xs-10 col-sm-7">
        <h3>Nombre</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate, exercitationem autem sunt voluptatem voluptate dolore esse qui? Quas natus deserunt adipisci recusandae accusantium sequi nostrum ab, tenetur similique expedita voluptatibus!</p>
    </div>
    <div class="col-xs-10 col-sm-3">
        <img src="../../../assets/imagen.jpg" alt="">
    </div>
 </div>
 <div class="row">
    <div class="col-1"></div>
    <div class="col-xs-10 col-sm-3">
        <img src="../../../assets/imagen.jpg" alt="">
    </div>
    <div class="col-xs-10 col-sm-7">
        <h3>Nombre</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate, exercitationem autem sunt voluptatem voluptate dolore esse qui? Quas natus deserunt adipisci recusandae accusantium sequi nostrum ab, tenetur similique expedita voluptatibus!</p>
    </div>
 </div>
 <div class="row">
    <div class="col-1"></div>
    <div class="col-xs-10 col-sm-7">
        <h3>Nombre</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate, exercitationem autem sunt voluptatem voluptate dolore esse qui? Quas natus deserunt adipisci recusandae accusantium sequi nostrum ab, tenetur similique expedita voluptatibus!</p>
    </div>
    <div class="col-xs-10 col-sm-3">
        <img src="../../../assets/imagen.jpg" alt="">
    </div>
 </div>
</div>
